---
import CommonLayout from "../../../layouts/CommonLayout.astro";
import { UserManager } from "../../../libs/repository/user";

const { token } = Astro.params;

let verified = false;
if (token !== undefined)
  verified = await UserManager.verifyEmailVerification(token);
---

<CommonLayout>
  {
    verified ? (
      <>
        <p>Email verification completed.</p>
      </>
    ) : (
      <>
        <p>Verification code is invalid or expired.</p>
      </>
    )
  }
</CommonLayout>
