---
import CommonLayout from "../layouts/CommonLayout.astro";
import { isCookieLogin } from "../libs/utils/is-login";

const userAuthenticated = await isCookieLogin(Astro.cookies);
---

<CommonLayout>
  {
    userAuthenticated ? (
      <p>Howdy, Vulpecula User!</p>
    ) : (
      <p>Welcome to Vulpecula!</p>
    )
  }
</CommonLayout>
