---
import {
  CsrfManager,
  DEFAULT_CSRF_TOKEN_NAME,
} from "../../libs/repository/csrf";
import { csrfVerify } from "../../libs/utils";
import { UserManager } from "../../libs/repository/user";

import CommonLayout from "../../layouts/CommonLayout.astro";
import { Prisma } from "@prisma/client";
import { TOKEN_COOKIE_NAME } from "../../libs/const";

if (
  Astro.cookies.has(TOKEN_COOKIE_NAME) &&
  (await UserManager.validateSessionToken(
    Astro.cookies.get(TOKEN_COOKIE_NAME).value as string
  ))
) {
  return Astro.redirect("/");
}

let csrfToken: string = "";
let formInvalid = false;

switch (Astro.request.method) {
  case "GET": {
    break;
  }
  case "POST": {
    const body = await Astro.request.formData();
    const cvr = await csrfVerify(body);
    if (cvr !== null) return cvr;
    if (!(body.has("email") && body.has("password"))) {
      formInvalid = true;
      break;
    }

    try {
      const targetUser = await UserManager.fromEmail(
        body.get("email") as string
      );

      if (
        !(await targetUser.validatePassword(body.get("password") as string))
      ) {
        formInvalid = true;
        break;
      }
      const token = await targetUser.login({
        ip: Astro.clientAddress,
        userAgent: Astro.request.headers.get("User-Agent") ?? undefined,
      });
      Astro.cookies.set(TOKEN_COOKIE_NAME, token, {
        path: "/",
        sameSite: "strict",
      });
    } catch (e) {
      if (e instanceof Prisma.PrismaClientKnownRequestError) {
        switch (e.code) {
          case "P2025": {
            formInvalid = true;
            break;
          }
          default: {
            throw e;
          }
        }
        break;
      } else {
        throw e;
      }
    }

    break;
  }
  default: {
    return new Response(null, {
      status: 405,
      statusText: "Method Not Allowed",
    });
  }
}

if (Astro.request.method === "GET" || formInvalid) {
  const cm = new CsrfManager();
  csrfToken = await cm.generateToken();
}
---

<CommonLayout title="Login">
  {
    Astro.request.method === "GET" || formInvalid ? (
      <>
        <h1>Login</h1>
        <>{formInvalid && <p>Email or password is incorrect.</p>}</>
        <form method="post">
          <input
            type="email"
            name="email"
            placeholder="example@example.com"
            required
          />
          <input type="password" name="password" required />
          <input
            type="hidden"
            name={DEFAULT_CSRF_TOKEN_NAME}
            value={csrfToken}
          />
          <input type="submit" />
        </form>
      </>
    ) : (
      <p>Login OK</p>
    )
  }
</CommonLayout>
