---
import { CsrfManager, DEFAULT_CSRF_TOKEN_NAME } from "../../libs/redis/csrf";
import { csrfVerify } from "../../utils";
import { UserManager, UserManagerError } from "../../libs/database/user";
import { Prisma } from "@prisma/client";

let csrfToken: string = "";
let formInvalid = false;
let formErrorMessage = "";

switch (Astro.request.method) {
  case "GET": {
    const cm = new CsrfManager();
    csrfToken = await cm.generateToken();
    break;
  }
  case "POST": {
    const body = await Astro.request.formData();
    const cvr = await csrfVerify(body);
    if (cvr !== null) return cvr;

    if (!(body.has("email") && body.has("password"))) {
      formInvalid = true;
      break;
    }

    try {
      await UserManager.createLocalUser({
        email: body.get("email") as string,
        password: body.get("password") as string,
      });
    } catch (e: any) {
      if (e instanceof UserManagerError) {
        formInvalid = true;
      } else if (e instanceof Prisma.PrismaClientKnownRequestError) {
        switch (e.code) {
          case "P2002": {
            formInvalid = true;
            formErrorMessage = "Email is already registered";
            break;
          }
          default: {
            throw e;
          }
        }
      }
    }

    break;
  }
  default: {
    return new Response(null, {
      status: 405,
      statusText: "Method Not Allowed",
    });
  }
}
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Register</title>
  </head>
  <body>
    {
      Astro.request.method === "GET" || formInvalid ? (
        <>
          <>{formInvalid && <p>{formErrorMessage}</p>}</>
          <form method="post">
            <input
              type="email"
              name="email"
              placeholder="example@example.com"
              required
            />
            <input type="password" name="password" min="8" required />
            <input
              type="hidden"
              name={DEFAULT_CSRF_TOKEN_NAME}
              value={csrfToken}
            />
            <input type="submit" />
          </form>
        </>
      ) : (
        <p>Register OK</p>
      )
    }
  </body>
</html>
