---
import CommonLayout from "../../../layouts/CommonLayout.astro";
import { TOKEN_COOKIE_NAME } from "../../../libs/const";
import { UserManager } from "../../../libs/repository/user";
import { isCookieLogin, csrfVerify } from "../../../libs/utils";
import {
  CsrfManager,
  DEFAULT_CSRF_TOKEN_NAME,
} from "../../../libs/repository/csrf";

if (!(await isCookieLogin(Astro.cookies)))
  return Astro.redirect("/account/login");

const currentUser = await UserManager.fromSessionToken(
  Astro.cookies.get(TOKEN_COOKIE_NAME).value as string
);
const currentUserAuth = await currentUser.getAuth();
if (currentUserAuth === null)
  return new Response(null, {
    status: 500,
    statusText: "Internal Server Error",
  });
if (currentUser.user.isSuspend)
  return new Response(null, {
    status: 403,
    statusText: "Forbidden",
  });

let formInvalid = false;
let formInvalidMessage = "";
let csrfToken = "";
switch (Astro.request.method) {
  case "GET": {
    break;
  }
  case "POST": {
    const body = await Astro.request.formData();
    const cvr = await csrfVerify(body);
    if (cvr !== null) return cvr;
    if (!body.has("email") || !body.has("password")) {
      formInvalid = true;
      formInvalidMessage = "Malformed form.";
      break;
    }
    const email = body.get("email") as string;
    if (!(await currentUser.validatePassword(body.get("password") as string))) {
      formInvalid = true;
      formInvalidMessage = "Invalid password.";
      break;
    }
    await currentUser.issueEmailVerificationCode(email);
    break;
  }
}

if (Astro.request.method === "GET" || formInvalid) {
  const cm = new CsrfManager();
  csrfToken = await cm.generateToken();
}
---

<CommonLayout>
  {
    Astro.request.method === "GET" || formInvalid ? (
      <>
        <h1>Change your Email</h1>
        {formInvalid && (
          <div>
            <p>{formInvalidMessage}</p>
          </div>
        )}
        <p>
          Current Email: {currentUserAuth.email}{" "}
          {!currentUserAuth.isEmailVerified && "(Unverified)"}
        </p>
        <form method="post">
          <input
            type="email"
            name="email"
            placeholder="example@example.com"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Configure password"
            required
          />
          <input
            type="hidden"
            name={DEFAULT_CSRF_TOKEN_NAME}
            value={csrfToken}
          />
          <input type="submit" />
        </form>
      </>
    ) : (
      <>
        <p>Verification mail was sent. Please check your inbox.</p>
      </>
    )
  }
</CommonLayout>
